<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- REDIRECCIÓN WWW -->
        <rule name="Redirect WWW to non-WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.paramours\.cl$" />
          </conditions>
          <action type="Redirect"
                  url="https://paramours.cl/{R:1}"
                  redirectType="Permanent" />
        </rule>

        <!-- ANGULAR ROUTING -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>