<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- FORZAR HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect"
                  url="https://{HTTP_HOST}/{R:1}"
                  redirectType="Permanent" />
        </rule>

        <!-- WWW -> NO WWW -->
        <rule name="Redirect WWW to non-WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.paramours\.cl$" />
          </conditions>
          <action type="Redirect"
                  url="https://paramours.cl/{R:1}"
                  redirectType="Permanent" />
        </rule>

        <!-- ANGULAR ROUTING -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>

    <staticContent>

      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />

      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />

      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml" />

      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

    </staticContent>

  </system.webServer>
</configuration>